<!DOCTYPE html>
<html>

<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<div class="container">
    <body>
        <div id="map" style="width: 900px; height: 580px"></div>
        <script>
  var mapOptions = {
                center: [<%=lat %>,<%=lon %>],
                zoom: 12
            }

            var map = new L.map('map', mapOptions);

            var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

            map.addLayer(layer);

            var marker = L.marker([<%=lat %>,<%=lon %>]);

            marker.addTo(map);
</script>
        <button type='button' onclick="history.back()">Go back</button>
</div>
</body>

</html>
